/* Codah Pedraza
   12/3/24
   24/FA ITSE 2302-7PDH2
*/

/* backbone attributes for the entire website */
html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

/* background image for the entire website */
body{
	/* background-color: #525954; */
	background-image: url('https://t4.ftcdn.net/jpg/01/16/88/37/360_F_116883786_wuckft1sNw1ouQfJ6FuquZnxea3qBlxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
}

/* ----------------------------------- */

/* media orientation for landscape mode */
@media (orientation: landscape){
	nav{
		font-family: "Charm", cursive;
		font-weight: 400;
		font-style: normal;
		display: flex;
		flex-direction: row;
		height: 70px;
	}

	.navlink1{
		font-size: 40px;
		text-align: center;
	}

	/* .navlink2{
		width: 33%;
		text-align: center;
	} */
}

/* media orientation for portrait mode */
@media (orientation: portrait){
	nav{
		font-family: "Charm", cursive;
		font-weight: 400;
		font-style: normal;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.navlink1{
		text-align: center;
	}

	/* .navlink2{
		text-align: center;
	} */
}

/* ----------------------------------- */

#orderform{
	padding-top: 20px;
}

/* ----------------------------------- */

/* custom nav on main page */
.navlink1{
	text-align: center;
	font-size: 40px;
}

/* hold the polo images + container */
.poloselection{
	width: 40%;
    margin: 20px auto;
    background-color: var(--messageBoxColor);
    border: 5px solid #B2BEB5;
    text-align: center;
    border-radius: 7px;
    filter: drop-shadow(0 0 0.1rem #444);
	padding-bottom: 10px;
}

/* custom attributes for the clothing images */
.poloimgs{
	margin: 10px;
	padding-top: 18px;
}

/* margins applied to each div in the mainform ID in order to avoid a crowded form */
.formgroup {
	margin-bottom: 15px;
}

/* centering adjustment */
.btnconfig{
	padding-left: 10px;
}

/* ----------------------------------- */

/* custom attributes for nav */
nav{
	font-family: "Charm", cursive;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 100px;
	justify-content: center;
}

/* custom attributes for h2 */
h2{
	color: #B2BEB5;
	font-family: "Charm", cursive;
	font-weight: 400;
	font-style: normal;
}

/* custom attributes for h1 */
h1{
	color: #B2BEB5;
	font-family: "Charm", cursive;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 50px;
	text-align: center;
}

/* custom attributes for the p tag */
p{
	color: #B2BEB5;
	font-family: "Lato", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

/* custom attributes for the form tag */
form{
	color: #B2BEB5;
	font-family: "Lato", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

/* custom attributes for input */
input{
	font-family: "Lato", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

/* custom attributes for the button tag */
button{
	color: #696969;
	font-family: "Lato", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}